.garage {
  position: absolute;
  box-sizing: border-box;
  width: calc(100vw - 16px);
  transform: translateX(-150%);
  padding: 10px;
}

.garage_active {
  transform: translateX(0);
  margin: 0 auto;
}

.garage__options {
  display: grid;
  grid-template-columns: 100px 30px 70px 150px;
  grid-template-rows: repeat(3, 25px);
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas:
    "input-new color-new btn-create btn-generate"
    "input-update color-update btn-update none"
    "btn-race btn-reset btn-reset none"
}

.text-upd {
  grid-area: input-update;
}

.color-upd {
  grid-area: color-update;
}

.btn-update {
  grid-area: btn-update;
}


.btn-race {
  grid-area: btn-race;
}

.btn-reset {
  grid-area: btn-reset;
}

.btn-gen {
  grid-area: btn-generate;
}

.options__color {
  appearance: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.options__color::-webkit-color-swatch,
.options__input-text {
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}

.options__color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.options__color:disabled::-webkit-color-swatch,
.options__input-text:disabled {
  background-color: rgba(254, 255, 255, 0.50);
  border: 1px solid rgba(254, 255, 255, 0.50);
}

.options__counter {
  grid-area: total;
}

.cars {
  height: 742px;
  overflow-y: hidden;
  transition: height 0.4s ease;
}

.cars_hide {
  height: 0px;
}
