.garage {
  padding: 10px;
}

.garage__options {
  display: grid;
  grid-template-columns: 100px 30px 70px 150px;
  grid-template-rows: repeat(3, 25px);
  row-gap: 10px;
  column-gap: 5px;
  grid-template-areas:
    "input-new color-new btn-create btn-generate"
    "input-update color-update btn-update none"
    "btn-race btn-reset btn-reset none"
}

.text-upd {
  grid-area: input-update;
}

.color-upd {
  grid-area: color-update;
}

.btn-update {
  grid-area: btn-update;
}


.btn-race {
  grid-area: btn-race;
}

.btn-reset {
  grid-area: btn-reset;
}

.btn-gen {
  grid-area: btn-generate;
}

.options__color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input:disabled {
  cursor: default;
}

.options__color::-webkit-color-swatch {
  border-radius: 5px;
}

.options__input-text {
  border: 1px solid black;
  border-radius: 5px;
}

.options__counter {
  grid-area: total;
}

.cars {
  height: 805px;
  overflow-y: hidden;
  transition: height 0.4s ease;
}

.cars_hide {
  height: 0px;
}
