.car {
  position: relative;
  z-index: 2;
  width: 150px;
  margin: 0;
  padding: 0;
}

.car__controls {
  display: grid;
  grid-template-columns: 80px 80px;
  gap: 10px;
  margin-bottom: 10px;
}

.road {
  border-bottom: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

.road::after {
  content: "";
  background: url("../../assets/Finish.svg");
  background-size: contain;
  width: 15px;
  height: 70px;
  line-height: 50px;
  position: relative;
  right: 135px;
  bottom: 0px;
}